.layout{
    /* width: 100vw; */
    min-height: 100vh;
    max-height: 500vh;
    padding: 100px 0px 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: wheat;
}
.card{
    width: 30%;
}
.button{
    width: 100%;
}

textarea{
    resize: none;
    height: 150px;
    border: 1px solid rgba(153, 153, 153, 0.575);
}
.number-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    line-height: 1;
}