.layout{
    /* width: 100vw; */
    min-height: 100vh;
    max-height: auto;
    padding: 100px 0px 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: wheat;
}
.card{
    width: 30%;
}
.button{
    width: 100%;
}

textarea{
    resize: none;
    height: 150px;
    border: 1px solid rgba(153, 153, 153, 0.575);
}
.number-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    line-height: 1;
}

.card-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
svg{
    color: #777;
    font-size: 35px;
    padding: 5px;
    cursor: pointer;
}
.logout{
    position: absolute;
    top: 20px;
    right: 20px;
    transform: rotate(90deg);
}

@media screen and (max-width:768px) {
    .layout{
        padding: 100px 20px;
    }
    .card{
        width: 100%
    }
}