.layout{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}
.card{
    width: 30%;
}
.button{
    width: 100%;
}